body {
  background-color: #ffffff;
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.p-card {
  margin-top: 1%;
  width: 100%;
  max-width: 100vw;
  padding: 2rem;
  border-radius: 5%;
}
.p-field {
  margin-bottom: 1rem;
}

.p-button {
  margin-top: 5%;
  width: 103%;
}
